server/.venv

camera/!**/glob-import/dir/node_modules
camera/.DS_Store
camera/.idea
camera/.pnpm-store
camera/*.cpuprofile
camera/*.local
camera/*.log
camera/.vscode/
camera/docs/.vitepress/cache
camera/packages/vite/LICENSE
camera/dist
camera/dist-ssr
camera/explorations
camera/node_modules
camera/playground-temp
camera/temp
camera/TODOs.md
camera/.eslintcache
